<!DOCTYPE html>
<html>
<head>
    <title>Maksmine Õnnestus</title>
</head>
<body>
<div style="text-align: center; padding: 20px;">
    <h1>Maksmine õnnestus!</h1>
    <p>Teie makse on edukalt töödeldud</p>

    <div class="mt-3">
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Tagasi avalehele</a>
    </div>
</div>
</body>
</html>