@model FinesRegister.Models.CarCreateViewModel

@{
    ViewBag.Title = "Lisa auto";
}

<h2>Lisa auto</h2>

<form asp-action="CarCreate">
    <div class="form-group">
        <label asp-for="Number" class="control-label"></label>
        <input asp-for="Number" class="form-control" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>

   

    <div class="form-group">
        <input type="submit" value="Lisa" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Cars">Tagasi</a>