@model FinesRegister.Models.CarDeleteViewModel

@{
ViewBag.Title = "Kustuta auto";
}

<h2>Kustuta auto</h2>

<div>
    <h3>Kas olete kindel, et soovite selle auto kustutada?</h3>
    <div>
        <h5>Auto Number: @Model.Number</h5>
        <h5>Kasutaja ID: @Model.UserId</h5>
    </div>
</div>

<form asp-action="CarDeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Kustuta" class="btn btn-danger" />
    </div>
</form>

<a asp-action="Cars">Tagasi</a>