@model FinesRegister.Models.CarEditViewModel

@{
ViewBag.Title = "Muuda auto";
}

<h2>Muuda auto</h2>

<form asp-action="CarEdit">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Number" class="control-label"></label>
        <input asp-for="Number" class="form-control" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserId" class="control-label"></label>
        <input asp-for="UserId" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Salvesta" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Cars">Tagasi</a>