@model FinesRegister.Models.FineDeleteViewModel

@{
    ViewBag.Title = "Kustuta trahv";
}

<h2>Kustuta trahv</h2>

<div>
    <h3>Kas olete kindel, et soovite selle trahvi kustutada?</h3>
    <div>
        <h5>V채ljaandmise kuup채ev: @Model.IssueDate.ToShortDateString()</h5>
        <h5>T채htaeg: @Model.DueDate.ToShortDateString()</h5>
        <h5>Summa: @Model.Amount</h5>
        <h5>P천hjus: @Model.Reason</h5>
    </div>
</div>

<form asp-action="FineDeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Kustuta" class="btn btn-danger" />
    </div>
</form>

<a asp-action="Fines">Tagasi</a>